<html>
  <head>
    <title>Seed Download</title>
  </head>
  <body>
      <div id="main">
          <div id="logo" align="center" style="padding-top: 10%">
              <img style="width: 20%;" src="../static/logo.png">
          </div>
          <div id="sear" align="center" style="padding-top: 40px">
              <form method="POST">
                  {{ form.search }}
                  <br /><br/>
                  <input type="submit" value="查询">
              </form>
          </div>
          <div id="footer" align="center" style="color: red; padding-top: 120px">本站所有资源都是互联网获取，只为学习交流，禁止用于商业用途。</div>
          <div id="forword" align="center" style="padding-top: 50px">小额打赏, 支持做下去!<br/>
          <img src="../static/wechat.png" style="width: 180px; height: 180px">
          </div>
      </div>
  </body>
</html>
